obj/
*.suo
/*.suo
*.nupkg
*.nuspec.txt
*.nuspec
NuGet.exe
/packages/Dos.Common.1.0.8.0/.signature.p7s
/packages/Dos.ORM.1.10.5.7/.signature.p7s
/packages/Dos.ORM.MySql.1.1.7.0/.signature.p7s
/packages/Dos.ORM.Sqlite.1.0.7.0/.signature.p7s
/packages/Microsoft.AspNet.Razor.2.0.30506.0/.signature.p7s
/packages/MySql.Data.6.9.8/.signature.p7s
/packages/RazorEngine.3.8.2/.signature.p7s
/packages/System.Data.SQLite.Core.1.0.101.0/.signature.p7s
/bin/Debug/Config/databaseconfig.xml
/bin/Debug/Config/dbtype.xml
/bin/Debug/Config/sysconfig.xml
/bin/Debug/Dos.Common.dll
/bin/Debug/Dos.Common.xml
/bin/Debug/Dos.ORM.MySql.dll
/bin/Debug/Dos.ORM.MySql.xml
/bin/Debug/Dos.ORM.Sqlite.dll
/bin/Debug/Dos.ORM.Sqlite.xml
/bin/Debug/Dos.ORM.dll
/bin/Debug/Dos.ORM.xml
/bin/Debug/Dos.Tool.exe
/bin/Debug/Dos.Tool.exe.config
/bin/Debug/Dos.Tool.pdb
/bin/Debug/Dos.Tool.vshost.exe
/bin/Debug/Dos.Tool.vshost.exe.config
/bin/Debug/Dos.Tool.vshost.exe.manifest
/bin/Debug/IrisSkin4.dll
/bin/Debug/LICENSE
/bin/Debug/MySql.Data.dll
/bin/Debug/RazorEngine.dll
/bin/Debug/RazorEngine.xml
/bin/Debug/Skin/Calmness.ssk
/bin/Debug/Skin/DeepCyan.ssk
/bin/Debug/Skin/DiamondOlive.ssk
/bin/Debug/Skin/GlassGreen.ssk
/bin/Debug/Skin/MacOS.ssk
/bin/Debug/Skin/Page.ssk
/bin/Debug/Skin/XPBlue.ssk
/bin/Debug/Skin/office2007.ssk
/bin/Debug/Skin/vista.ssk
/bin/Debug/System.Data.SQLite.DLL
/bin/Debug/System.Data.SQLite.xml
/bin/Debug/System.Web.Razor.dll
/bin/Debug/System.Web.Razor.xml
/bin/Debug/Template/中级demo_业务逻辑层.tpl
/bin/Debug/Template/中级demo_仓库层.tpl
/bin/Debug/Template/中级demo_前端JavaScript.tpl
/bin/Debug/Template/中级demo_参数类.tpl
/bin/Debug/Template/中级demo_缓存处理层.tpl
/bin/Debug/Template/实体类_v1.10.2.7及以下.tpl
/bin/Debug/Template/实体类_v1.10.5.5及以下.tpl
/bin/Debug/Template/实体类_仅FromSql用.tpl
/bin/Debug/Template/实体类_最新_2016-07-06-WCF用.tpl
/bin/Debug/Template/实体类_最新_2016-07-06.tpl
/bin/Debug/WeifenLuo.WinFormsUI.Docking.dll
/bin/Debug/log/201605.txt
/bin/Debug/log/201703.txt
/bin/Debug/x64/SQLite.Interop.dll
/bin/Debug/x86/SQLite.Interop.dll
